* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #33363B;
  padding: 40px 0;
}

.app {
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 0 30px;
}

.app__content {
  padding-top: 65px;
}
