.stations {
  margin: -40px -10px;
}

.stations:after {
  display: block;
  content: "";
  clear: both;
}

.stations__item {
  margin: 40px 10px;
}

.stations_look-tile > .stations__item {
  width: calc(33.3333% - 20px);
  float: left;
}

@media screen and (max-width: 500px) {
  .stations__item {
    width: calc(100% - 20px) !important;
    float: none !important;
  }
}