.station-item:after {
  display: block;
  content: '';
  clear: both;
}

.station-item__name {
  display: inline-block;
  margin: 0;
  margin-bottom: 4px;
  margin-right: 25px;
  font-size: 24px;
  font-weight: normal;
  line-height: 31px;
  white-space: nowrap;
}

.station-item__line {
  font-size: 18px;
  white-space: nowrap;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.4;
}

.station-item__photo-container {
  position: relative;
  width: 150px;
  height: 100px;
  float: left;
  border-radius: 4px;
  overflow: hidden;
}

.station-item__photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.station-item__description {
  font-size: 16px;
  line-height: 22px;
}

.station-item__info {
  margin-left: 20px;
  width: calc(100% - 170px);
  float: left;
}

.station-item_tile .station-item__line {
  display: none;
}

.station-item_tile .station-item__photo-container {
  width: 100%;
  height: auto;
  padding-top: 66.66%;
}

.station-item_tile .station-item__info {
  margin: 0;
  margin-top: 9px;
  width: 100%;
}

.station-item_tile .station-item__description {
  height: 110px;
  overflow: hidden;
}

.station-item_tile .station-item__name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 500px) {
  .station-item__description {
    height: auto !important;
    overflow: hidden;
  }

  .station-item__photo-container {
    width: 100%;
    height: auto;
    padding-top: 66.66%;
  }
  
  .station-item__info {
    margin: 0;
    margin-top: 9px;
    width: 100%;
  }
  
  .station-item__description {
    height: 110px;
    overflow: hidden;
  }
  
  .station-item__name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .station-item__line {
    display: none;
  }
}
