.nav-item {
  display: inline-block;
  padding: 0 14px;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #F1F1EF;
  border-radius: 4px;
}

.nav-item_active {
  background: none !important;
  cursor: default;
}

.nav-item_active > .nav-item__name {
  border-bottom: 2px solid #33363B;
}

.nav-item__name {
  display: block;
  font-size: 20px;
  line-height: 37px;
}